<div class="container main-inner-container admin-page">
  <div class="row">
    <div class="col-md-3">
      <h3>Add New City</h3>
      <form action="/admins/new_city" method="post">
        <div class="form-group">
          <label for="city_name">City Name</label>
          <input type="text" class="form-control" name="city_name" placeholder="ex. Portland, OR">
        </div>
        <div class="form-group">
          <label for="country_name">Country Name</label>
          <input type="text" class="form-control" name="country_name" placeholder="ex. United States">
        </div>
        <div class="form-group">
          <label for="airport_code">Airport Code</label>
          <input type="text" class="form-control" name="airport_code" placeholder="ex. PDX">
        </div>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>

    <div class="col-md-9">
      <h3>Available Cities</h3>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% i = 1 %>
        <% @cities.each do |city| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= i %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapsev">
                <%= city.airports.first.airport_code %> - <%= city.city_name %>, <%= city.country_name %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= i %>">
            <div class="panel-body">
              <form action="/cities/<%= city.id %>" method="post">
                <input type="hidden" name="_method" value="patch">
                <div class="form-group">
                  <label for="city_name">City Name</label>
                  <input type="text" class="form-control" name="city_name" value="<%= city.city_name %>" placeholder="ex. Portland, OR">
                </div>
                <div class="form-group">
                  <label for="country_name">Country Name</label>
                  <input type="text" class="form-control" name="country_name" value="<%= city.country_name %>" placeholder="ex. United States">
                </div>
                <div class="form-group">
                  <label for="airport_code">Airport Code</label>
                  <input type="text" class="form-control" name="airport_code" placeholder="ex. PDX" value="<%= city.airports.first.airport_code %>">
                </div>
                <% Activity.all.each do |activity| %>
                <div class="checkbox col-sm-4">
                  <label>
                    <input type="checkbox" value="<%= activity.id %>" name="activity_ids[]"<% if city.activities.include?(activity) %> checked<% end %>>
                    <%= activity.name %>
                  </label>
                </div>
                <% end %>
                <button type="submit" class="btn">Update</button>
              </form>
            </div>
          </div>
        </div>
        <% i+=1 %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Add New Activity</h3>
      <form action="/admins/new_activity" method="post">
        <div class="form-group">
          <label for="name">Activity Name</label>
          <input type="text" class="form-control" name="name" placeholder="ex. Hiking">
        </div>
        <div class="form-group">
          <label for="group">Activity Group</label>
          <input type="text" class="form-control" name="group" placeholder="ex. Outdoors">
        </div>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>

    <div class="col-md-9">
      <h3>Available Activities</h3>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% @activities.each do |activity| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= i %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapsev">
                <%= activity.group %>, <%= activity.name %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= i %>">
            <div class="panel-body">
              <form action="/activities/<%= activity.id %>" method="post">
                <input type="hidden" name="_method" value="patch">
                <div class="form-group">
                  <label for="name">Activity Name</label>
                  <input type="text" class="form-control" name="name" value="<%= activity.name %>" placeholder="ex. Portland, OR">
                </div>
                <div class="form-group">
                  <label for="group">Activity Group</label>
                  <input type="text" class="form-control" name="group" value="<%= activity.group %>" placeholder="ex. United States">
                </div>
                <button type="submit" class="btn">Update</button>
              </form>
            </div>
          </div>
        </div>
        <% i+=1 %>
        <% end %>
      </div>
    </div>
  </div>

</div>
